body {
    text-transform: capitalize;
}

.black-nav {
    color: black;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.nav-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    padding: 8px 8px;
}

#hero {
    background-color: #f0f0f0;
}

.first {
    font-size: 1rem;
    padding: 10px 40px;
}


.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

#services {
    background-color: #f0f0f0;
    padding-bottom: 60px;
    padding-top: 30px;
}

.services-flex-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-title {
    margin-bottom: 30px;
}

.card-link {
    text-decoration: none;
}

.cards {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

